<a id="splash" href="splash_v4.swf"></a>
<table cellspacing="0" id="test">
  <tr>
    <td>
      <div id="content">
        <div id="globe">
          <img src="logo.png" alt="iO Theater" id="logo" />
        </div>
        <h2><span>Please select a City:</span></h2>
        <ul id="cities">
          <li>
            <a href="http://ioimprov.com/west/" class="la">&laquo; Los Angeles</a>
          </li>
          <li>
            <a href="http://ioimprov.com/chicago/" class="chicago">Chicago &raquo;</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>